CLUSTER=dev
VERSION_SET=u24-cu128-py312-torch210-mlflow3152-kserve0190
IMAGE_REPO=localhost:8080/library/layered-kserve
IMAGE_TAG=u24-cu128-py312-torch210-mlflow3152-kserve0190
PUSH=false
PLATFORM=linux/amd64
KSERVE_VERSION=v0.20.0
KSERVE_PYTHON_VERSION=0.19.0
KSERVE_MODE=Standard
ARGO_WORKFLOWS_VERSION=v4.1.2
ARGO_WORKFLOWS_LOCAL_PORT=2746
HARBOR_VERSION=v2.15.2
HARBOR_HOSTNAME=localhost
HARBOR_HTTP_PORT=8080
HARBOR_ADMIN_PASSWORD=Harbor12345
HARBOR_WITH_TRIVY=false
HARBOR_SERVER=host.docker.internal:8080
HARBOR_USERNAME=admin
HARBOR_PASSWORD=Harbor12345
GIT_REPO_URL=https://github.com/choijinwon/devopsAgent.git
GIT_REVISION=main
DEPLOY_BRANCH=main
GIT_USERNAME=your-git-username
GIT_TOKEN=your-git-token
ARGOCD_MANIFEST_URL=https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
